
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
/* ~~~~~~~~~~~ Main Colors / Font ~~~~~~~~~~~~~ */
:root {
    --teal: #2A3B49;
    --neon-teal: #7BFFE9;
    --white: #FFFFFF;
}
/* ~~~~~~~~~~~~~~~~~ CSS reset ~~~~~~~~~~~~~~~~~ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/* ~~~~~~~~~~~~~~~ Index page css ~~~~~~~~~~~~~~~ */
header {
    background-color: var(--teal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
header a, button {
    color: var(--white); 
    font-size: 16px;
    padding: 0px 15px;
    cursor: pointer;
}
#neon {
    color: var(--neon-teal);
    font-size: 36px;
}
.index-box {
    background-image: url(/assets/index.png);
    width: 100vw;
    min-height: 1050px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

 #index-bubble {
    background-color: var(--teal);
    color: var(--white);
    height: 425px;
    width: 620px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px 150px 160px 0px;
    padding: 20px 20px;
    text-align: center;
    position: absolute;
    top: 615px;
}
#index-button {
    color: var(--neon-teal);
    border: 2px solid var(--neon-teal);
    width: 418px;
    height: 115px;
    border-radius: 60px;
    font-size: 150%;
    background-color: transparent;
    position: absolute;
    left: 980px;
    top: 910px;
} 

/* ~~~~~~~~ dark mode button css ~~~~~~~~~ */
#darkMode {
    color: var(--neon-teal);
    background-color: transparent;
    border: none;
    font-size: 24px;
}
/* ~~~~~~~~~~~~ about page ~~~~~~~~~~~~~ */
#about-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 30px 70px;
}
.about-main img {
    object-fit: cover;
    border-radius: 8px;
}
.about-main {
    display: flex;
    font-size: 20px;
    gap: 40px;
    margin: 30px 70px;
    margin-bottom: 100px;
}
.about-main button {
    background-color: var(--teal);
    color: var(--neon-teal);
    width: 375px;
    height: 100px;
    border-radius: 60px;
    font-size: 30px;
    margin-top: 60px;
}
/* ~~~~~~~~~~~~ submissions page ~~~~~~~~~~~~~ */
.main-container {
    display: flex;
}
.main-container h1 {
    text-align: center;
    padding: 50px 0px;
    font-size: 36px;
}
 .submit-container {
    display: flex;
    width: 100%;
    max-width: 1300px;
    flex-wrap: wrap;
    justify-content: center;
}
.submit-card img {
    width: 345px;
    border-radius: 8px;
    margin: 0px 40px;
}
.submit-card div { 
    display: flex;
    justify-content: space-around; 
    margin-top: -20px;
    font-size: 16px;
 }
 .see-more {
    font-size: 12px;
    padding-top: 4px;
 }

.input-box {
    background-color: var(--teal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 481px;
    height: 608px;
    border-radius: 8px;
    margin: 60px 80px 0px 0px;
} 
.input-box input {
    height: 40px;
    width: 80%;
    border-radius: 8px;
    font-size: 16px;
    color: gray;
    margin: 10px 0px;
    padding-left: 20px;
}
.input-box h2 {
    font-size: 24px;
}
.input-box button {
    color: var(--neon-teal);
    border: 2px solid var(--neon-teal);
    background-color: transparent;
    width: 190px;
    height: 61px;
    border-radius: 60px;
    margin-top: 40px;
    cursor: pointer;
}
/* ~~~~~~~~~~~~ details page ~~~~~~~~~~~~~ */
.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px
}
.detail-container img {
   width: 80%;
   border-radius:10px;
}
.detail-container h2, p {
    margin: 20px 0px 30px 0px;
    font-weight: 400;
}
.detail-container h2 {
    font-size: 36px;
}
.detail-container button{
    width: 116px;
    height: 35px;
    background-color: var(--teal);
    color: var(--neon-teal);
    border-radius: 60px;
    margin: 0px 10px;
}

/* ~~~~~~~~~~~~ media query header mobile ~~~~~~~~~~~~~ */
@media (max-width: 480px) {
    header a, button {
        font-size: 16px;
        padding: 10px 7px;
    }
    #neon {
        font-size: 16px;
    }
    #darkMode {
        font-size: 20px;
    }
}
/* ~~~~~~~~~~~~ media query submission page~~~~~~~~~~~~~ */
@media (max-width: 1050px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .submit-card img {
        width: 400px;
    }
    .submit-card div { 
        margin: -23px -30px 0px -30px;
     }
    .see-more {
        padding-top: 4px;
    }
    .input-box {
        width: 481px;
        height: 608px;
        margin: 50px 0px 80px 0px;
    } 
}
@media (max-width: 850px) {
    .submit-card img {
        width: 300px;
    }
    .submit-card div { 
        margin: -23px 20px 0px 20px;
     }
}

@media (max-width: 480px) {
    .submit-card img {
        width: 300px;
    }
    .submit-card div { 
        margin: -5px 15px 0px 15px;
     }
    .input-box {
        width: 300px;
        height: 408px;
        margin: 50px 0px 80px 0px;
    } 
    .main-container h1 {
        font-size: 24px;
    }

    .input-box input {
        height: 25px;
        width: 80%;
        font-size: 15px;
        margin: 10px 0px;
        padding-left: 20px;
    }
    .input-box h2 {
        font-size: 20px;
    }
    .input-box button {
        width: 150px;
        height: 50px;
        margin-top: 30px;
    }
}
/* ~~~~~~~~~~~~ media query details page~~~~~~~~~~~~~ */
@media (max-width: 480px) {
    .detail-container {
        margin-top: 80px;
    }
    .detail-container h2, p {
        margin: 5px 0px 30px 0px;
    }
    .detail-container h2, h1 {
        font-size: 20px;
    }
    .detail-container button{
        width: 116px;
        height: 35px;
        padding: 0px
    }
}
/* ~~~~~~~~~~~~ media query about page~~~~~~~~~~~~~ */
@media (max-width: 1050px) {
.about-main button {
    width: 250px;
    height: 70px;
    font-size: 20px;
}
.about-main img {
width: 400px;
}
.about-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: -40px;
    font-size: 18px;
}
.about-main button {
    margin-top: -5px;
}
}
@media (max-width: 850px) {
.about-container {
    display: flex;
    flex-direction: column;
}
}
@media (max-width: 480px) {
    .about-main img {
        width: 300px;
        margin-bottom: 50px;
 }
 .about-main button {
    width: 200px;
    height: 60px;
    font-size: 18px;
}
.about-main {
    margin: -20px 40px;
}
.about-container {
    margin-top: 30px;
}
.about-heading h1 {
    font-size: 30px;
}
}

/* media queries for index buble and button */
 @media (max-width: 1285px) {
    #index-bubble {
        height: 350px;
        width: 600px;
        font-size: 24px;
        padding: 20px 50px;
        top: 660px;
    }
    #index-button {
        width: 300px;
        height: 100px;
        left: 920px;
        top: 910px;
        font-size: 22px;
    } 
 }
 @media (max-width: 1250px) {
    #index-bubble {
        height: 350px;
        width: 600px;
        border-radius: 100px;
        top: 850px;
        left: 220px;
    }
    #index-button {
        left: 370px;
        top: 1250px;
    } 
    .index-box {
        min-height: 1400px;
    }
 }
 @media (max-width: 850px) {
    #index-bubble {
        height: 300px;
        width: 500px;
        font-size: 20px;
        top: 850px;
        left: 170px;
    }
    #index-button {
        width: 300px;
        height: 90px;
        left: 270px;
        top: 1200px;
        font-size: 22px;
    } 
}
@media (max-width: 770px) {
    #index-bubble {
        left: 140px;
    }
    #index-button {
        left: 240px;
    } 
}
    @media (max-width: 480px) {
        #index-bubble {
            height: 300px;
            width: 330px;
            font-size: 16px;
            top: 450px;
            left: 45px;
        }
        #index-button {
            width: 200px;
            height: 60px;
            left: 110px;
            top: 800px;
            font-size: 18px;
        } 
    }
    @media (max-width: 385px) {
        #index-bubble {
            left: 30px;
        }
        #index-button {
            left: 90px;
        } 
    }
    @media (max-width: 360px) {
        #index-bubble {
            left: 15px;
        }
        #index-button {
            left: 80px;
        } 
    }
 